.Projects {
  min-height: 400px;
}

.Projects .card-columns {
  // TODO: add mobile changes to column-count
  column-count: 6;
}

.Projects .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}