.Social {
  background: #4527a0;
  background: -moz-linear-gradient(45deg, #4527a0 0%, #711e9b 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #4527a0), color-stop(100%, #711e9b));
  background: -webkit-linear-gradient(45deg, #4527a0 0%, #711e9b 100%);
  background: -o-linear-gradient(45deg, #4527a0 0%, #711e9b 100%);
  background: -ms-linear-gradient(45deg, #4527a0 0%, #711e9b 100%);
  background: linear-gradient(45deg, #4527a0 0%, #711e9b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4527a0', endColorstr='#711e9b', GradientType=1 );

  padding: 64px 0;

  a {
    color: #cecece;
  }

  a:hover {
    color: #fff;
  }

  .list-inline-item {
    font-size: 1.25rem;
    margin: 0 14px;
  }

  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .list-inline-item {
      margin: 0 48px;
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 64.063em) {
    .list-inline-item {
      margin: 0 64px;
      font-size: 2.675rem;
    }
  }
}