// Defaults
$default-border-radius: 4px;
$default-box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
$default-headline-font: 'Quicksand', sans-serif;
$default-padding: 24px;
$divider-light: 1px solid #dfdfdf;

// Bootstrap breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
